<div>
  <h1>Pasatiempos</h1>
  <h3>
    <i>
      Dormir: Dormir es uno de mis pasatiempos favoritos, me encanta dormir.
      Videojuegos: Me gusta jugar algunos videojuegos, m&aacute;s si es con amigos.
      Leer: Me gusta leer de vez en cuando, leo mas digitalmente que fisicamente.
      Escuchar m&uacute;sica: Me gusta mucho escuchar m&uacute;sica asi que siempre que puedo me pongo mis audifonos y
      pongo m&uacute;sica.
      Aprender un nuevo idioma: Ultimamente me he estado interesando en el ingl&eacute;s y el japon&eacute;s.
    </i>
  </h3>
  <button (click)="atras()">Atrás</button>
</div>